* {
    box-sizing: border-box;
}

body{
    color: white;
    background-image: linear-gradient(to bottom right, #2f5edd, #1d9728, #105822);
}

/* navbar items */

.nav-link, .icon-facebook{
    font-family: 'Open Sans', sans-serif;
    text-shadow: 3px 1px 2px #e441a0;
    font-size: 16px;
}

ul { 
    padding: 0; 
    list-style: none; 
    display: table;
    width: auto;
}

li { 
    display: table-cell; 
    position: relative; 
    padding: 8px 0;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.nav-link:hover{
    color: white;
}

.nav-link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #e441a0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover:after { 
    width: 100%; 
    left: 0; 
}

/* food gallery */

.foodGallery{
    margin-top: 15px;
    margin-left: 50px;
}

div.gallery {
    border: none;
    transition: ease-in-out all 0.3s;
}
  
div.gallery:hover {
    border: none;
    transform: scale(1.1);
}

div.gallery img {
    width: 90%;
    height: auto;
    border-radius: 18px;
    -webkit-box-shadow: -15px -15px 40px -5px #969696;
    -moz-box-shadow: -15px -15px 40px -5px #969696;
    box-shadow: -15px -15px 40px -5px #969696;
}
  
div.desc {
    padding: 5px;
    text-align: center;
}
  
.responsive {
    text-align: center;
    float: left;
    width: 17%;
}

/* background img */

.eggplant{
    position: absolute;
    width: 360px;
    height: 500px;
    background-image: url("img/eggplant-2.png");
    background-position: 0 0;
    bottom: 0;
    right: 0;
    z-index: -5;
}

.eggplant-2{
    position: absolute;
    width: 770px;
    height: 590px;
    background-image: url("img/eggplant-menu.png");
    background-position: 0 0;
    bottom: 30%;
    right: 20%;
    z-index: -5;
    transform: rotate(30deg);
}

/* contact form */

input{
    font-size: 14px;
    width: 100%;
    max-width: 270px;
    background-color: white;
    color: black;
    padding: 4px;
    outline: none;
    border-radius: 12px;
}

textarea{
    font-size: 14px;
    width: 100%;
    max-width: 270px;
    height: 70px;
    padding: 4px;
    outline-color: #e441a0;
    outline-width: 8px;
    border-radius: 12px;
}

.contact100-form-btn{
    font-size: 18px;
    color: white;
    background-color: #e441a0;
    padding: 4px;
    border-radius: 12px;
    transition: ease-in-out 0.3s;
}

.contact100-form-btn:hover{
    font-size: 18px;
    color: #e441a0;
    background-color: white;
    padding: 4px;
    border-radius: 12px;
}

.wrap-contact100{
    margin-left: auto;
    margin-right: auto;
}

/* responsiveness settings */

@media only screen and (max-width: 768px) {
 .eggplant, .eggplant-2 {
    display: none;
 }
}

@media only screen and (max-width: 576px) {
.foodGallery {
    display: none;
 }
}

/* special fonts */

@font-face{
    font-family: 'arabic';
    src: url("font/arabic.ttf");
    src: 
		local('arabic'),
		local('arabic'),
		url('font/arabic.ttf');
		format ('opentype');
}